@using WebsiteBanGiay.Models;
@model List<Giay>
<br />
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" style="background-color: #4267b2;">
        TOP BÁN CHẠY
    </a>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("XemChiTiet","LocWebsite", new {@magiay = item.MaGiay })" class="list-group-item list-group-item-action">
            <div>
                <img src="@Url.Content("~/HinhAnh/Giay/"+item.HinhAnhGiay)" style="width: 60px; height: 50px" />
                <span style="float: right; font-weight: bold; color: black">
                    <b style="font-size: 12px;">@item.TenGiay</b>
                    <br />
                    <b style="color: #4267b2; font-size: 11px">@item.GiaTien VNĐ</b>
                    <b style="color: brown; font-size: 11px"><strike>0 VNĐ</strike></b>
                </span>
            </div>
        </a>
    }
</div>

